/* About Us Page */
.about-section img {
    max-width: 100%;
    margin-bottom: 20px;
}

.about-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    color: #333;
}

.about-section h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.about-section p {
    font-size: 1rem;
    line-height: 1.7;
    color: #666;
}

.about-section .lead {
    font-weight: 500;
    color: #444;
}
